

<p align="right">
 <b > <%= @user.email %> </b>
 <%= link_to '(modifiez vos données)', edit_user_registration_path %>
</p>

<p align="right"> Votre solde :<%= @user.sold.to_f %> BTC <p>
  <p>   </p>
  <hr style="width:1005px; background-color:skyblue; height:1px;" />
  <%- model_class = Product -%>
  <h4> Vos annonces :</h4> 
  <p align = "right" >
   <%= link_to t('.new', :default => t("helpers.links.creer une annonce")),
   new_product_path,
   :class => 'btn' %>
 </p>
 <table class="table table-hover">
  <thead>
    <tr>
     <th><%= model_class.human_attribute_name(:Categorie) %></th>
     <th><%= model_class.human_attribute_name(:Produit) %></th>
     <th><%= model_class.human_attribute_name(:Description) %></th>
     <th><%= model_class.human_attribute_name(:Prix) %></th>
   </tr>
 </thead>
 <tbody>
  <% @current_user.products.each do |product|  %>
  <tr>
    <td><%= link_to product.category.name, product_path %></td>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %> BTC </td>
    <td>
      <%= link_to t('.show', :default => t("helpers.links.voir")),
      product_path(product), :class => 'btn btn-mini disabled' %>
    </td>
    <td>
      <%= link_to t('.show', :default => t("helpers.links.editer")),
      edit_product_path(product), :class => 'btn btn-mini disabled' %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
<hr style="width:1005px; background-color:skyblue; height:1px;" />
<%- model_class = Order -%>
<div class="container">
  <div class="row">
    <div class="span12"><h4> Vos achats :</h4>
      <div class="traitgauche">
      <table class="table table-hover">
        <thead>
          <tr>
           <th><%= model_class.human_attribute_name(:Produit) %></th>
           <th><%= model_class.human_attribute_name(:Description) %></th>
           <th><%= model_class.human_attribute_name(:Vendeur) %></th>
           <th><%= model_class.human_attribute_name(:Prix) %></th>
         </tr>
       </thead>
       <tbody>
        
        <% @current_user.orders.each do |order|  %>
        <tr>
          <td><%=link_to order.product.name, order_path(order) %></td>
          <td><%= order.product.description %></td>
          <td><%= order.product.user.email %></td>
          <td><%= order.product.price %> BTC </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% if current_user.seller == true %>
 
<%= render 'ventes' %>
<% end %>
</div>
</div>






