<p id="notice"><%= notice %></p>


<image width="310" height="200" src="<%= @order.product.image_url %>"</image>

<p>
  <b>Product:</b>
  <%= @order.product.name %>
</p>

<p>
  <b>Acheteur:</b>
  <%= @order.user.email %>
</p>
<p>
  <b>Vendeur:</b>
  <%= @order.product.user.email %>
</p>



<b>Adresse de livraison:</b>
  <%= @order.address %> 
</p>

<b>Prix:</b>
  <%= @order.product.price %> BTC
</p>




