<%- model_class = Product -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
 

<ul>
  <% @products.each_slice(3) do |slice| %>
    <div class="row item-row">
      <% slice.each do |product| %>
        <div class="span4">
        <p>  <%= link_to(image_tag(product.image_url, width: 150, height: 150), product_path(product)) %> </p>
		<p><b>Categorie : </b> <%= product.category.name %> </p>
		<p><b>Produit :</b>	<%= product.name %> </p>
		<p><b> Prix :</b> <%= product.price %> euros </p>
		<p><b>Vendeur :</b> <%= product.user.email %> </p>
          <%= link_to t('.new', :default => t("helpers.links.Acheter")),
            new_order_path(:product_id => product.id) %>
		<p>   </p>
        </div>
      <% end %>
    </div> 
  <% end %>
</ul>


